body {
  color: white;
  overflow-x: hidden;
}

.nav-link {
  font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .7rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: yellow;
}

#home-page {
  padding: 5%;
  background: url(../images/star-war-header.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

#original {
  background: url(../images/original.png);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3%;
}

#clone {
  background: url(../images/prequel-background.png);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3%;
}

#disney-purchase {
  background: url(../images/disney-purchase-background.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3%;
}

#sequel-trilogy {
  background: url(../images/sequel-background.png);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3%;
}

#anthology {
  background: url(../images/anth-background.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5% 3%;
}

#anthology .row img, #sequel-trilogy .row img, #original .row img, #clone .row img, #disney-purchase .row img {
  width: 12rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: .1rem;
  font-weight: 700;
  color: yellow;
}

h4 {
  font-size: 1.5rem;
}

.banner {
  text-transform: uppercase;
}

.banner img {
  margin-top: 3rem;
  max-width: 100%;
}
.banner h1 {
  font-size: 3rem;
  letter-spacing: .1rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .3rem white;
}

.banner h3 {
  font-size: 2.5rem;
  letter-spacing: .1rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .3rem white;
  margin-top: 1rem;
}

.footer {
  background-color: black;
  padding: 3rem;
}

.footer img {
  max-width: 100%;
}

p {
  font-size: .7rem;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .3rem white;
  }

  .banner h3 {
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem white;
    margin-top: 1rem;
  }

  #anthology .row img, #sequel-trilogy .row img, #original .row img, #clone .row img, #disney-purchase .row img {
    width: 11rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 700;
    color: yellow;
  }

  h4 {
    font-size: 1rem;}
  }
